<main class="main">
  <div class="content">
    <div class="weather">
      <h1>{{ title }} forecast</h1>
      <div class="forecast-details-form">
        <form>
          <mat-form-field id="city-selector">
            <mat-label>Choose city</mat-label>
            <mat-select [(ngModel)]="cityName" name="city" (selectionChange)="onSelectNewCity()">
              @for (city of cityList; track city) {
                <mat-option [value]="city">{{city}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field id="date-selector">
            <mat-label>Choose date</mat-label>
            <mat-select [(ngModel)]="date" name="date" (selectionChange)="onSelectNewDate()">
              @for (date of availableDateList; track date) {
                <mat-option [value]="date">{{date | date}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      
      @if(forecasts.length > 0) {
        <div class="forecasts">
          <app-forecast [forecast]="forecast" *ngFor="let forecast of forecasts"/>
        </div>
      }
      @else {
        <p>No data for the provided parameters.</p>
      }
    </div>
  </div>
</main>
<router-outlet></router-outlet>